<!--{
	"Title": "Go Reproducible Build Report",
	"layout": "article",
	"template": true
}-->

<style>
details { margin-left: 2em; }
pre { margin-left: 2em; }
.time { color: #777; }
</style>

<p>
Kể từ Go 1.21, các bản tải xuống bộ công cụ nhị phân của Go được cung cấp bởi <a href="/dl/">go.dev/dl/</a> có thể được tái tạo và xác minh bởi bất kỳ ai, trên bất kỳ nền tảng nào,
bằng cách sử dụng <a href="https://pkg.go.dev/golang.org/x/build/cmd/gorebuild">golang.org/x/build/cmd/gorebuild</a>.
Để biết thêm chi tiết, xem bài đăng trên blog
“<a href="/blog/rebuild">Bộ công cụ Go có thể tái tạo và xác minh hoàn hảo</a>.”
</p>

<p>
Trang này được cập nhật hằng ngày với kết quả chạy <code>gorebuild</code> trong một máy ảo Ubuntu,
sử dụng tập lệnh sau:
</p>

<pre>
apt-get update &&
apt-get -y install software-properties-common &&
add-apt-repository universe &&
apt-get -y install golang-go git msitools &&
go run golang.org/x/build/cmd/gorebuild@latest -p=4
</pre>

<p>
Việc cài đặt <code>git</code> cho phép <code>gorebuild</code>
lấy mã nguồn Go từ kho lưu trữ Git chính thức của nó, và
việc cài đặt <code>msitools</code> cho phép <code>gorebuild</code>
kiểm tra nội dung của tệp cài đặt MSI của Windows.
<code>-p=4</code> có nghĩa là chạy tối đa bốn bản dựng song song.
</p>

{{define "marker"}}<span style="marker">{{template "markersymbol" .}}</span>{{end}}
{{define "markersymbol"}}
{{- if eq . "PASS" -}} ✅
{{- else if eq . "SKIP" -}} —
{{- else -}}  ❌
{{- end -}}
{{end}}

{{define "log"}}
<pre>
{{range .Messages}}<span class="time">{{(rfc3339 .Time).UTC.Format "15:04:05"}}</span> {{.Text}}
{{end}}
</pre>
{{end}}

{{define "autoopen"}} {{if not (eq . "PASS")}} open {{end}} {{end}}

{{$Report := json gorebuild}}
{{with $Report}}

Phiên bản Gorebuild {{.Version}}.<br>
Được xây dựng với phiên bản Go {{.GoVersion}}, {{.GOOS}}-{{.GOARCH}}.<br>
<br>
Tái tạo bắt đầu lúc {{(rfc3339 .Start).UTC.Format "2006-01-02 15:04:05"}} UTC.<br>
Tái tạo hoàn tất lúc {{(rfc3339 .End).UTC.Format "2006-01-02 15:04:05"}} UTC.<br>
Thời gian đã trôi qua: {{((rfc3339 .End).Sub (rfc3339 .Start)).Round 1e9}}.

<h2 id="releases">Bản phát hành</h2>

{{range .Releases}}
<details {{template "autoopen" .Log.Status}} >
<summary><b id="{{.Version}}">{{template "marker" .Log.Status}} {{.Version}}</b></summary>

<details>
<summary>Nhật ký</summary>
{{template "log" .Log}}
</details>

{{range .Files}}
<details {{template "autoopen" .Log.Status}}>
<summary><b id="{{.Name}}">{{template "marker" .Log.Status}} {{.Name}}</b></summary>
{{template "log" .Log}}
</details>
{{end}}

</details>
{{end}}

<h2 id="bootstraps">Khởi tạo ban đầu</h2>

{{range .Bootstraps}}
<details>
<summary><b>Khởi tạo ban đầu {{.Version}}</b></summary>
{{template "log" .Log}}
</details>
{{end}}

{{end}}
